In [1]:
import pandas as pd

In [5]:
NBA_Contracts_2012 = pd.read_csv('NBA_Contracts_2012.csv')
NBA_Contracts_2013 = pd.read_csv('NBA_Contracts_2013.csv')
NBA_Contracts_2014 = pd.read_csv('NBA_Contracts_2014.csv')
NBA_Contracts_2015 = pd.read_csv('NBA_Contracts_2015.csv')
NBA_Contracts_2016 = pd.read_csv('NBA_Contracts_2016.csv')
NBA_Contracts_2017 = pd.read_csv('NBA_Contracts_2017.csv')
NBA_Contracts_2018 = pd.read_csv('NBA_Contracts_2018.csv')
NBA_Contracts_2019 = pd.read_csv('NBA_Contracts_2019.csv')
NBA_Contracts_2020 = pd.read_csv('NBA_Contracts_2020.csv')
NBA_Contracts_2021 = pd.read_csv('NBA_Contracts_2021.csv')
NBA_Contracts_2022 = pd.read_csv('NBA_Contracts_2022.csv')
NBA_Contracts_2023 = pd.read_csv('NBA_Contracts_2023.csv')
NBA_Contracts_2024 = pd.read_csv('NBA_Contracts_2024.csv')
NBA_Contracts_2025 = pd.read_csv('NBA_Contracts_2025.csv')

In [13]:
dfs = [
    NBA_Contracts_2012, NBA_Contracts_2013, NBA_Contracts_2014, NBA_Contracts_2015,
    NBA_Contracts_2016, NBA_Contracts_2017, NBA_Contracts_2018, NBA_Contracts_2019,
    NBA_Contracts_2020, NBA_Contracts_2021, NBA_Contracts_2022, NBA_Contracts_2023,
    NBA_Contracts_2024, NBA_Contracts_2025
]

In [15]:
full_df = pd.concat(dfs, ignore_index=True)

In [17]:
full_df

,Player,Pos,Team,Start,End,Yrs,Value,AAV,2-Year_Cash,3-Year_Cash,Age
0,Deron Williams,PG,BKN,2012,2016.0,5.0,"$98,772,325","$19,754,465","$35,643,925","$55,398,390",NaN
1,Derrick Rose,PG,CHI,2012,2016.0,5.0,"$94,314,380","$18,862,876","$34,035,188","$52,898,064",NaN
2,Russell Westbrook,PG,OKC,2012,2016.0,5.0,"$78,595,310","$15,719,062","$28,362,656","$44,081,718",NaN
3,Carmelo Anthony,PF,NYK,2012,2013.0,3.0,"$64,166,861","$21,388,954","$40,833,457","$64,166,861",NaN
4,Brook Lopez,C,BKN,2012,2014.0,4.0,"$60,825,938","$15,206,485","$28,362,656","$44,081,719",NaN
...,...,...,...,...,...,...,...,...,...,...,...
7746,Chucky Hepburn,G,TOR,2025,2025.0,1.0,NaN,NaN,"$85,300","$85,300",22.0
7747,Hunter Sallis,SG,PHI,2025,2025.0,1.0,NaN,NaN,"$85,300","$85,300",22.0
7748,Caleb Love,G,POR,2025,2025.0,1.0,NaN,NaN,"$85,300","$85,300",23.0
7749,Jesse Edwards,C,MIN,2025,2025.0,1.0,NaN,NaN,"$85,300","$85,300",25.0
7750,Emanuel Miller,SF,CHI,2025,2025.0,1.0,NaN,NaN,"$85,300","$85,300",25.0

In [21]:
full_df.to_csv('nba_data.csv', index=False)

In [23]:
df1 = pd.read_csv('WNBA_Contracts-2012-2019.csv')
df2 = pd.read_csv('WNBA_Contracts-2020-2025.csv')

In [27]:
dfs2 = [df1, df2]

In [31]:
full_W_df = pd.concat(dfs2, ignore_index=True)
full_W_df

,Player,Pos,Team,Age_At_Signing,Start,End,Yrs,Value,AAV,2-Year_Cash,3-Year_Cash,Age
0,Sue Bird,G,SEA,35.0,2016,2020.0,5.0,"$673,000","$134,600","$225,000","$340,500",NaN
1,Candace Parker,F,LA,29.0,2016,2020.0,5.0,"$577,500","$115,500","$225,000","$340,500",NaN
2,Courtney Vandersloot,G,CHI,25.0,2015,2019.0,5.0,"$557,500","$111,500","$216,000","$327,000",NaN
3,Brittney Griner,C,PHX,26.0,2017,2020.0,4.0,"$554,000","$138,500","$224,000","$339,000",NaN
4,Diana Taurasi,G,PHX,34.0,2017,2020.0,4.0,"$466,000","$116,500","$229,000","$346,500",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1107,Julie Allemand,G,IND,NaN,2022,NaN,NaN,NaN,NaN,NaN,NaN,25.0
1108,Carolyn Swords,C,LV,NaN,2020,2020.0,NaN,NaN,NaN,NaN,NaN,30.0
1109,Liz Cambage,C,LV,NaN,2020,2020.0,NaN,NaN,NaN,NaN,NaN,28.0
1110,Cecilia Zandalasini,F,MIN,NaN,2020,2020.0,NaN,NaN,NaN,NaN,NaN,23.0
1111,Kia Vaughn,C,PHX,NaN,2020,2020.0,NaN,NaN,NaN,NaN,NaN,32.0

In [39]:
full_W_df.to_csv('wnba_concet.csv', index=False)