In [1]:
# NBA
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

# Configuration
BASE_URL = "https://www.espn.com/nba/salaries/_/year/2025/page/{}"
NUM_PAGES = 13   # ESPN shows 13 pages of salaries for 2024-25
OUTPUT_FILE = "nba_salaries_2024_25.csv"

players = []

# Scrape each page
for page in range(1, NUM_PAGES + 1):
    url = BASE_URL.format(page)
    print(f"Scraping page {page} of {NUM_PAGES}: {url}")
    response = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
    if response.status_code != 200:
        print(f"⚠️ Skipping page {page} (HTTP {response.status_code})")
        continue

    soup = BeautifulSoup(response.text, "html.parser")
    table = soup.find("table")
    if not table:
        print(f"⚠️ No table found on page {page}")
        continue

    rows = table.find_all("tr")[1:]  # skip header
    for row in rows:
        cols = row.find_all("td")
        if len(cols) < 3:
            continue

        rank = cols[0].text.strip()
        player_name = cols[1].text.strip()
        team = cols[2].text.strip()
        salary_text = cols[3].text.strip().replace("$", "").replace(",", "")
        try:
            salary = int(salary_text)
        except:
            salary = None

        players.append({
            "Rank": rank,
            "Player": player_name,
            "Team": team,
            "Salary_USD": salary,
            "Season": "2024-25"
        })

    time.sleep(1)  

# Save to CSV
df = pd.DataFrame(players)
df.to_csv(OUTPUT_FILE, index=False)
print(f"\n✅ Saved {len(df)} player rows to {OUTPUT_FILE}")

Scraping page 1 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/1
Scraping page 2 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/2
Scraping page 3 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/3
Scraping page 4 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/4
Scraping page 5 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/5
Scraping page 6 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/6
Scraping page 7 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/7
Scraping page 8 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/8
Scraping page 9 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/9
Scraping page 10 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/10
Scraping page 11 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/11
Scraping page 12 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/12
Scraping page 13 of 13: https://www.espn.com/nba/salaries/_/year/2025/page/13

✅ Saved 528 player rows to nba_salaries_2024_25.csv

In [7]:
import pandas as pd

df = pd.read_csv("nba_salaries_2024_25.csv")
df.head()

  Rank            Player                   Team  Salary_USD   Season
0    1  Stephen Curry, G  Golden State Warriors  55761216.0  2024-25
1    2    Joel Embiid, C     Philadelphia 76ers  51415938.0  2024-25
2    3   Nikola Jokic, C         Denver Nuggets  51415938.0  2024-25
3    4   Kevin Durant, F           Phoenix Suns  51179021.0  2024-25
4    5   Bradley Beal, G           Phoenix Suns  50203930.0  2024-25